<div
  class="bg-white h-80 border border-gray-100 shadow-sm p-12 overflow-hidden rounded-lg mb-2 transition cursor-pointer hover:shadow-lg">
  <img [src]="product.image" loading="lazy" class="w-full h-full object-contain object-center" />
</div>

<div class="flex flex-row justify-between gap-2">
  <app-product-details [product]="product" [lineClamp]="true" />
  <div class="w-8 h-8">
    <button class="w-8 h-8 text-indigo-500 border border-indigo-500 hover:bg-slate-100 font-bold rounded transition"
      (click)="addToCart(product)">
      <fa-icon [icon]="faCartPlus"></fa-icon>
    </button>
  </div>
</div>